In [ ]:
import numpy as np
import math
import pandas as pd
import matplotlib.pyplot as plt
import itertools

In [ ]:
port_size = np.linspace(0.001,0.39,100) # in m
number_of_plates = np.linspace(3
                               ,700,698)
plate_thickness = np.linspace(0.0005,0.0012,71) # in m
plate_spacing = np.linspace(0.0015,0.005,351)

In [ ]:
combined_array_plate_thickness_plate_spacing = np.array(list(itertools.product(plate_thickness, plate_spacing)))
combined_array_plate_thickness_plate_spacing

array([[0.0005 , 0.0015 ],
       [0.0005 , 0.00151],
       [0.0005 , 0.00152],
       ...,
       [0.0012 , 0.00498],
       [0.0012 , 0.00499],
       [0.0012 , 0.005  ]])

In [ ]:
combined_array_with_port_size = np.array(list(itertools.product(combined_array_plate_thickness_plate_spacing, port_size)))
combined_array_with_port_size

<ipython-input-4-c124851e27a8>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  combined_array_with_port_size = np.array(list(itertools.product(combined_array_plate_thickness_plate_spacing, port_size)))

array([[array([0.0005, 0.0015]), 0.001],
       [array([0.0005, 0.0015]), 0.004929292929292929],
       [array([0.0005, 0.0015]), 0.008858585858585857],
       ...,
       [array([0.0012, 0.005 ]), 0.3821414141414141],
       [array([0.0012, 0.005 ]), 0.38607070707070706],
       [array([0.0012, 0.005 ]), 0.39]], dtype=object)

In [ ]:
combined_array_with_port_size[:,0]
df = pd.DataFrame([combined_array_with_port_size[:,0], combined_array_with_port_size[:,1]]).T
df

                        0         1
0        [0.0005, 0.0015]     0.001
1        [0.0005, 0.0015]  0.004929
2        [0.0005, 0.0015]  0.008859
3        [0.0005, 0.0015]  0.012788
4        [0.0005, 0.0015]  0.016717
...                   ...       ...
2492095   [0.0012, 0.005]  0.374283
2492096   [0.0012, 0.005]  0.378212
2492097   [0.0012, 0.005]  0.382141
2492098   [0.0012, 0.005]  0.386071
2492099   [0.0012, 0.005]      0.39

[2492100 rows x 2 columns]

In [ ]:
df.columns = ["fff","PORT_SIZE"]
df

                      fff PORT_SIZE
0        [0.0005, 0.0015]     0.001
1        [0.0005, 0.0015]  0.004929
2        [0.0005, 0.0015]  0.008859
3        [0.0005, 0.0015]  0.012788
4        [0.0005, 0.0015]  0.016717
...                   ...       ...
2492095   [0.0012, 0.005]  0.374283
2492096   [0.0012, 0.005]  0.378212
2492097   [0.0012, 0.005]  0.382141
2492098   [0.0012, 0.005]  0.386071
2492099   [0.0012, 0.005]      0.39

[2492100 rows x 2 columns]

In [ ]:
df[["THICKNESS", "PLATE_SPACING"]] = pd.DataFrame(df.fff.tolist(), index = df.index)
df.drop("fff", axis = 1, inplace = True)

In [ ]:
df.to_csv("DESIGN PARAMETERS COMBINED.csv")